<tr class="{{if isCurrentSong 'is-current-song'}}">
  <td class="song-track">
    <span class="track-number">{{attrs.song.track}}</span>
    {{audio-control isPlaying=isPlaying pause=(action 'pause') play=(action 'play')}}
  </td>
  <td class="song-name">{{attrs.song.name}}</td>
  <td class="song-duration">{{format-duration attrs.song.duration}}</td>
</tr>
