<tr>
  <td class="song-track">
    <span class="track-number">{{attrs.song.track}}</span>
    <span class="play">
      {{#if isPlaying}}
        <span {{action 'pause'}}>❙❙</span>
      {{else}}
        <span {{action 'play'}}>▶</span>
      {{/if}}
    </span>
  </td>
  <td class="song-name">{{attrs.song.name}}</td>
  <td class="song-duration">{{format-duration attrs.song.duration}}</td>
</tr>
